<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".properties" mimeType="text/plain" />
            <mimeMap fileExtension=".json" mimeType="text/json" />
            <mimeMap fileExtension=".woff" mimeType="font/woff" />
        </staticContent>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
    </system.webServer>
</configuration>
