<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.xhtml" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".properties" mimeType="text/plain" />
            <mimeMap fileExtension=".php" mimeType="text/html" />
            <mimeMap fileExtension=".json" mimeType="text/json" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        </staticContent>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
    </system.webServer>
</configuration>
