<element extends="cda2g" name="recordTarget" constructor="cda2g.extends">
  <decorator>
    <template>
      <style scoped="scoped">
        div {
          color: white;
          text-shadow: 3px 3px 10px gray;
          border: solid 1px lightgray;
          border-radius: 5px;
          padding: 5px 7px 5px 7px;
          background-color: rgba(80, 80, 80, 0.75);
          z-index: 99;
        }
        selector {
          display: inline-block;
        }
      </style>
      <div class="_XCD_Component">
        typeCode=<selector attribute="typeCode"></selector>, classCode=<selector DOMString="patientRole" attribute="classCode"></selector>, 姓名=<selector DOMString="patientRole patient name"></selector>, 機構名稱=<selector DOMString="patientRole providerOrganization name"></selector>, B.O.D.=<selector DOMString="patientRole patient birthTime" attribute="value" match="([0-9]{4})([0-9]{2})([0-9]{2})" format="$1/$2/$3"></selector>
      </div>
    </template>
    <script type="text/javascript">
      if (this !== window) {
        var root = null;
        var container = null;
        cda2g.extends.prototype = {
          onClick: function(e) {
            $(e.currentTarget).find("span").each(function(index, element) {
              $(element).html("test");
            });
          }
        };
        this.lifecycle({
          created: function(root) {
            content = $(this);
            shadow = $(root.querySelectorAll('*'));
            selectors = shadow.find('selector');
            selectors.each(function(index, value) {
              var obj = $(this);
              var dom_string = obj.attr("DOMString");
              var attr_string = obj.attr("attribute");
              var match_string = obj.attr("match");
              var format_string = obj.attr("format");
              var dom = (dom_string != undefined) ? $(dom_string, content) : content;
              var attr = (attr_string != undefined) ? dom.attr(attr_string) : null;
              var ret = (attr != null) ? attr : $(dom).html();
              if(match_string != undefined && format_string != undefined)
                ret = ret.replace(new RegExp(match_string), format_string);
              obj.html(ret);
            });
          }
        });
      }
    </script>
  </decorator>
</element>