<element extends="cda2g" name="cda-header" constructor="cda2g.extends">
	<decorator>
		<template>
			<style scoped="scoped">
				@import url(components/css/XCD.css);
			</style>
			<style scoped="scoped">
				
			</style>
			<div class="_XCD_Component" style="display: none;">
				<selector path="recordTarget/@typeCode">typeCode=<data></data></selector>
				<selector path="recordTarget/patientRole/@classCode">classCode=<data></data></selector>
				<selector path="recordTarget/patientRole/patient/name">姓名=<data></data></selector>
				<selector path="recordTarget/patientRole/providerOrganization/name">機構名稱=<data></data></selector>
				<selector path="recordTarget/patientRole/patient/birthTime/@value" match="([0-9]{4})([0-9]{2})([0-9]{2})" format="$1/$2/$3">B.O.D.=<data></data></selector>
			</div>
		</template>
		<script type="text/javascript">
			if (this !== window) {
				cda2g.extends.prototype = {
					onClick: function(e) {
						$(e.currentTarget).find("span").each(function(index, element) {
							$(element).html("test");
						});
					}
				};
				function selectorParse(root, content) {
					var xmlns = $(content).attr("xmlnsName");
					var shadow = $(root.querySelectorAll('*'));
					selectors = shadow.find('selector');
					selectors.each(function(index, value) {
						var obj = $(this);
						var path = obj.attr("path").split('/');
						var attrib = obj.attr("path").match(/@([^0-9][-\w]*)/);
						if(attrib != null) {
							attrib = attrib[1];
							path = path.slice(0, path.length - 1);
						}
						if(!!xmlns)
							path = xmlns + '\\:' + path.join(sprintf('>%s\\:', xmlns));
						else
							path = path.join('>');
						var match_string = obj.attr("match");
						var format_string = obj.attr("format");
						var dom = (path != "") ? $(content).find(path) : content;
						var attr = (attrib != null) ? dom.attr(attrib) : null;
						var ret = (attr != null) ? attr : $(dom).html();
						if(ret == undefined) {
							ret = null;
							obj.css('display', 'none');
						}
						if(ret != null && match_string != undefined && format_string != undefined)
							ret = ret.replace(new RegExp(match_string), format_string);
						var data = obj.find('data');
						if(data != null)
							data.html(ret);
						else
							obj.html(ret);
					});
					shadow.filter('div._XCD_Component').css('display', 'inline-block');
				}
				this.lifecycle({
					created: function(root) {
						var shadow = $(root.querySelectorAll('*'));
						$(this).on("DOMNodeInserted", function(e) {selectorParse(e.relatedNode.webkitShadowRoot, $(this));});
						if(this.childNodes.length > 0) {
							selectorParse(root, $(this));
						}
					}
				});
			}
		</script>
	</decorator>
</element>