<element extends="pageNum" name="pageNum" constructor="pageNum">
  <decorator>
    <template>
      <style scoped="scoped">
        div {
          color: white;
          text-shadow: 3px 3px 10px gray;
          border: solid 1px lightgray;
          border-radius: 5px;
          padding: 5px 7px 5px 7px;
          background-color: rgba(80, 80, 80, 0.75);
          z-index: 99;
        }
      </style>
      <div id="pageNumber">
        <content select="first.l10n"></content>
        <span> </span>
        <content select="now"></content>
        <span> </span>
        <content select="middle.l10n"></content>
        <span> </span>
        <content select="total"></content>
        <span> </span>
        <content select="last.l10n"></content>
      </div>
    </template>
    <script type="text/javascript">
      if (this !== window) {
        pageNum.prototype = {
          onClick: function(e) {
            $(e.currentTarget).find("span").each(function(index, element) {
              $(element).html("test");
            });
          }
        };
        this.lifecycle({
          created: function(root) {
            container = root.querySelector('#pageNumber');
            $(container).on('click', this.onClick);
          }
        });
      }
    </script>
  </decorator>
</element>